h3 {
  display: inline;
}

#js_text {
  position:relative;
  left: 60%;
  
}

#html_text {
  position:relative;
  left: 10%;
}

#css_text{
  position:relative;
  left: 33%;
}

textarea {
  width: 31.2%;  
}

h1 {
  margin-left: 25%;
}

h2 {
  margin-left: 45%;
}

iframe {
  position:relative;
  left: 28%;
}

button {
  width: 100%;
  height: 50px;
  font-size: 25px;
  background-color: lime;
}

a {
  position:relative;
  left:45%;
}